.about {
    &-inner {
        display: block;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        &__text {
            text-align: justify;
            font-size: 21px;
            color: $darkBlue;
            font-weight: 300;
            line-height: 135%;
        }
        &__img {
            float: right;
            margin-left: 40px;
            width: 500px;
            height: 400px;
            background-color: #e6e6e6;
            border-radius: 15px;
        }
        &__owner {
            font-size: 18px;
            display: inline-block;
            text-align: right;
            width: 100%;
            // white-space: nowrap;
        }
    }
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about > .primary-text {
    max-width: 900px;
}
