.news-sec {
    display: flex;
    flex-direction: column;
}

.news__item-info-wrapper:hover .news__item-h {
    text-decoration: underline;
}

.news {
    margin: 0 auto;
    &__item {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        margin-bottom: 40px;
        &-info-wrapper {
            padding: 35px 25px 0px;
            
        }
        border-radius: 15px;
        &-h {
            font-size: 22px;
            font-weight: 500;
            // & :hover {
            //     cursor: pointer;
            // }
        }
        &-text {
            padding: 20px 0;
            font-size: 17px;
            line-height: 20px;
            color: #434955;
        }
        &-date {
            font-size: 15px;
            line-height: 18px;
            color: #7b8290;
            margin-bottom: 15px;
            text-align: right;
        }
        &-media {
            overflow: hidden;
            border-radius: 0 0 15px 15px;
            display: flex;
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}