.payment {
    display: flex;
    flex-direction: column;
    &__text {
        width: 100%;
        text-align: left;
        font-size: 18px;
        color: $darkBlue;
        font-weight: 300;
        line-height: 145%;
        &-bottom {
            font-size: 21px;
            margin-top: 20px;
        }
    }
}
