.production-sec {
    display: flex;
    flex-direction: column;
}

.production-page {
    &__card {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: 280px;
        width: 100%;
        background-color: none;
        border-radius: 7px;
        outline: 1px solid #c4c4c4;
        &:hover {
            outline: 2px solid $blue;
        }
        &-img {
            height: 100%;
            background-color: #e6e6e6;
        }
        &-text {
            display: flex;
            align-items: center;
            height: 72px;
            padding: 0 20px;
            text-align: center;
            vertical-align: middle;
            justify-content: center;
        }
        &-link {
            display: block;
        }
    }
}

.row {
    display: grid;
    gap: 26px;
    // grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
