//@import "bootstrap-grid.min";
@import "vars";
@import "fonts";
@import "reset";
@import "bootstrap";
@import "production";
@import "news";
@import "payment";
@import "contacts";
@import "partners";
@import "geo";
@import "price";
@import "burger";

html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; //safari skroll
    height: 100%;
}

main {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    cursor: default;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    color: $darkBlue;
    overflow-x: hidden;
    min-width: 360px;
}

a {
    text-decoration: none;
    color: inherit;
}

//xxl
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
}

.burger {
    display: none;
}

.logo {
    position: fixed;
    // left: 270px;
    // top: 30px;
    left: 10px;
    top: 10px;
    & img {
        width: 80px;
        opacity: 1;
    }
}

hr {
    height: 2px;
    background-color: #eaedf2;
    border: none;
}

h2 {
    text-align: center;
    padding-bottom: 30px;
    font-size: 36px;
    font-weight: 500;
    margin: 0 auto;
    width: 100%;
}

h3 {
    padding: 0px 0 40px;
    font-size: 24px;
    font-weight: 500;
}

.link-text {
    font-weight: 700;
    color: $blue;
    font-size: 19px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.blue-link {
    white-space: nowrap;
    position: relative;
    margin: 30px auto 0;
    &:hover object {
        transition: 0.3s ease;
        margin-left: 7px;
    }
}

.text-medium {
    font-weight: 500;
}

.dropdown-fix {
    height: 30px;
    width: 100%;
    background-color: rgba(#fff, 0%);
    position: absolute;
}

.dropdown {
    z-index: 999;
    display: none;
    position: absolute;
    margin-top: 4px;
    background-color: $addBlue;
    letter-spacing: 1px;
    top: 60px;
    right: 0;
    border-radius: 10px 10px 10px 10px;
    & a {
        display: flex;
        text-decoration: none;
        justify-content: center;
        font-size: 18px;
        color: $white;
        padding: 16px 16px;
        border-bottom: 1px solid #4c5361;
    }
    & a:hover {
        background-color: $blue;
        border-radius: 0;
    }
    & a:first-child {
        padding-top: 20px;
        &:hover {
            border-radius: 10px 10px 0 0;
        }
    }
    & a:last-child {
        padding-bottom: 20px;
        border: none;
        &:hover {
            border-radius: 0 0 10px 10px;
        }
    }
}

.menu__item:hover .dropdown {
    display: block;
}

.header {
    white-space: nowrap;
    padding-bottom: 20px;
    &__top {
        display: flex;
        justify-content: space-between;
        height: 55px;
        &-item {
            display: flex;
            align-items: center;
            color: $darkBlue;
            font-size: 24px;
            font-weight: bold;
            & span {
                font-size: 16px;
                font-weight: normal;
            }
            & a {
                text-decoration: none;
                color: inherit;
            }
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
    }
}

.menu {
    display: flex;
    height: 60px;
    &__item {
        display: flex;
        position: relative;
        align-items: center;
        cursor: pointer;
        background-color: $darkBlue;
        &_active {
            // background: linear-gradient(282.03deg, #2c84eb 8.67%, #1b59a0 99.14%);
            box-shadow: 0px 0px 16px rgba(84, 160, 249, 0.5);
            background-color: $blue !important;
            z-index: 999;
        }
        &-link {
            line-height: 60px;
            font-size: 18px;
            font-weight: 400;
            color: $white;
            text-decoration: none;
            padding: 0 25px;
        }
    }
    &__item:hover {
        transition: 0.3s ease;
        background-color: $addBlue;
    }
    &__item:first-child {
        border-radius: 15px 0 0 15px;
        // padding-left: 10px;
    }
    &__item:last-child {
        border-radius: 0 15px 15px 0;
        // padding-right: 10px;
    }
}

.primary-button {
    cursor: pointer;
    transition: 0.2s ease;
    font-size: 18px;
    letter-spacing: 1px;
    color: $white;
    height: 60px;
    padding: 0 40px;
    box-shadow: 0px 0px 16px rgba(84, 160, 249, 0.5);
    background: $blue;
    border-radius: 30px;
    border: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.primary-button:hover {
    background: #2575cf;
    box-shadow: none;
}

.small-btn {
    cursor: pointer;
    transition: 0.2s ease;
    font-size: 20px;
    color: white;
    background-color: $blue;
    border-radius: 5px;
    height: 50px;
    width: 240px;
    border: 0;
    &:hover {
        background: #2575cf;
    }
}

.header object {
    height: 100%;
    padding-left: 5px;
    vertical-align: middle;
    width: 18px;
}

.blue-link object {
    transition: 0.3s ease;
    position: absolute;
    padding-left: 5px;
    height: 15px;
}

section {
    display: flex;
    padding: 10px 0 40px;
}

.slider {
    display: flex;
    position: relative;
    background-color: #c4c4c4;
    background: center no-repeat url("@img/banner.jpg");
    max-width: 100%;
    width: 100;
    height: 400px;
    border-radius: 15px;
    margin-bottom: 20px;
    &__text {
        padding-right: 60px;
        font-size: 40px;
        color: #f9f9f9;
        font-weight: 700;
        position: absolute;
        margin: 0 auto;
        left: 40px;
        width: 100%;
        bottom: 30px;
    }
}

.about {
    &-inner {
        display: block;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        &__text {
            text-align: justify;
            font-size: 21px;
            color: $darkBlue;
            font-weight: 300;
            line-height: 135%;
        }
        &__img {
            float: right;
            margin-left: 40px;
            width: 500px;
            height: 400px;
            background-color: #c4c4c4;
            border-radius: 15px;
        }
        &__owner {
            display: inline-block;
            text-align: right;
            width: 100%;
            white-space: nowrap;
        }
    }
}

.primary-text {
    width: 100%;
    font-size: 26px;
    color: $darkBlue;
    font-weight: 300;
    line-height: 145%;
}

.go-back__text:hover object {
    left: 25px;
}

.go-back {
    position: relative;
    float: right;
    padding-top: 130px;
    &__text {
        display: flex;
        font-size: 19px;
        color: #c3c6cd;
        text-decoration: none;
        font-weight: 700;
        letter-spacing: 1px;
    }
    & object {
        transition: 0.3s ease;
        position: relative;
        bottom: 3px;
        left: 15px;
        transform: rotate(90deg);
    }
    position: relative;
    transform: rotate(-90deg);
    top: 20px;
    right: 10px;
}

.mom {
    display: flex;
    justify-content: space-between;
    // width: 100%;
    &__item {
        display: flex;
        &-img {
            display: flex;
            background-color: #c4c4c4;
            min-width: 500px;
            width: 200px;
            width: 100%;
            height: 230px;
            border-radius: 15px;
        }
        & .primary-text {
            width: 100%;
            max-width: 646px;
        }
    }
}

.advantages {
    display: flex;
    flex-direction: column;
    &__item {
        flex-direction: column;
        text-align: center;
        &-text {
            margin-top: 20px;
        }
    }
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about > .primary-text {
    max-width: 900px;
}

.advantages-inner {
    display: flex;
    // padding: 0 140px;
    padding-top: 30px;
    justify-content: space-between;
}

.advantages__item {
    display: flex;
}

.production {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 290px;
        &-image {
            background-color: #c4c4c4;
            border-radius: 15px 15px 0 0;
            height: 100%;
        }
        &-text {
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 18px;
            color: #434955;
            font-weight: 500;
        }
        &-wrapper {
            display: flex;
            justify-content: space-between;
            padding: 15px 0 0 0;
        }
    }
    &__item-text {
        vertical-align: middle;
        align-items: center;
        padding: 30px 20px;
        background-color: white;
        border: 2px solid #c4c4c4;
        border-radius: 0 0 15px 15px;
    }
}

.production__item + .production__item {
    margin-left: 15px;
}

.production__link {
    display: flex;
}

.order {
    background-color: #efefef;
    width: 100%;
    padding-top: 20px;
    &-inner {
        display: flex;
        flex-direction: column;
        width: 100%;
        &__text-area {
            display: flex;
            flex-direction: column;
            width: 100%;
            border: 1px solid #b6b6b6;
            border-radius: 5px;
            margin: 5px 0 15px;
            padding: 10px;
            font-size: 18px;
            color: $darkBlue;
            min-height: 133px;
            resize: vertical;
            &:focus,
            :active {
                outline-color: #868686 !important;
                outline-width: 2px;
            }
        }
        &__form {
            &-inputs {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                // width: 100%;
            }
            & label {
                width: 100%;
                font-size: 18px;
                font-weight: 500;
            }
            & label + label {
                margin-left: 15px;
            }
        }
        &__h {
            font-size: 26px;
            font-weight: 500;
        }
        &__text {
            font-weight: 300;
            font-size: 18px;
            padding: 10px 0 15px 0;
        }
        &__input {
            width: 100%;
            display: flex;
            color: $darkBlue;
            font-size: 18px;
            padding: 0 10px;
            height: 40px;
            // width: 350px;
            border: 1px solid #b6b6b6;
            border-radius: 5px;
            margin-top: 5px;
            &:focus,
            :active {
                outline-color: #868686 !important;
                outline-width: 2px;
            }
        }
    }
}

.footer-top {
    padding: 36px 0;
    // height: 320px;
    background-color: $darkBlue;
}

.footer-top {
    &__list {
        width: 220px;
        &-header {
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: bold;
            color: white;
            white-space: nowrap;
        }
        &-item {
            color: #c4c4c4;
            // margin-bottom: 15px;
            // line-height: 20px;
            padding-top: 3px;
            white-space: nowrap;
            a {
                text-decoration: none;
                color: #c4c4c4;
            }
        }
    }
}

#inst {
    font-size: 22px;
}

.footer-top__list:first-child {
    margin-right: 70px;
}

.footer-info {
    display: flex;
    flex-direction: row;
    & object {
        padding-right: 15px;
    }
}

.mini-wrapper {
    display: flex;
    vertical-align: middle;
    margin-bottom: 20px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px 0 20px;
    &__wrapper {
        background-color: $addBlue;
    }
    &__item {
        font-size: 18px;
        font-weight: 300;
        color: #bbbbbb;
    }
}

.add-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@import "modal";
@import "media";
